* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr {
  background-color: #fff;
  opacity: 0.5;
  margin-bottom: 20px;
}

.wrapper {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Jost", sans-serif;
}

.header__container {
  height: 80px;
  background-color: #4c3484;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 32px 2px rgba(153, 153, 153, 1);
}

.header__search {
  border: none;
  height: 30px;
  width: 100%;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 300;
}

.header__search-container {
  display: block;
  background-color: #fff;
  width: 650px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border-radius: 5px;
}

.header__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #e2dbe4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.header__current-loc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 30px;
  background-color: #00c9a5;
  padding: 10px;
  border-radius: 5px;
}

.header__current-loc-icon {
  margin-right: 5px;
}

.header {
  margin-bottom: 20px;
}

.main__weather {
  display: flex;
  border-radius: 45px;
  box-shadow: 0px 10px 32px 2px rgba(153, 153, 153, 1);
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.main__weather-icon {
  background-image: url("../assets/images/clear-night.svg");
  display: block;
  width: 300px;
  height: 300px;
}

.main__weather-info {
  align-self: flex-start;
}

.main__weather-info-city {
  margin-top: 40px;
  font-weight: 800;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 20px;
}
.main__weather-info-city-separator {
  font-weight: 300;
  font-size: 55px;
  opacity: 0.6;
  margin: 0 5px;
}

.main__weather-info-city-details {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-weight: 300;
  color: #fff;
  transition: 0.4;
}
.details {
  margin-bottom: 5px;
}

.main__weather-info-city-pop {
  display: flex;
  align-items: center;
}

.main__weather-info-city-pop-i {
  background-image: url("../assets/images/pop-icon.svg");
  display: block;
  width: 35px;
  height: 35px;
  margin: -5px;
}

.main__cards {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-evenly;
}

.main__cards-item {
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 12px 18px 46px -27px rgba(0, 0, 0, 0.75);
  color: #fff;
}

.main__cards-item-icon {
  width: 120px;
  height: 120px;
}

.main__cards-item-day {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
}

.main__cards-item-temp {
  font-weight: 400;
  display: flex;
}

.main__cards-item-temp.max{
  margin-right: 5px;
}
.main__cards-item-temp.min{
  opacity: 0.8;
}
